/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.button {
    -fx-background-color: #252526;
    -fx-text-fill: #838079;
}

.button:hover {
    /*-fx-background-color: #2a2d2e; */
    -fx-text-fill: #fcfafc;
}
