/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.button {
    -fx-background-color: #202020;
    -fx-text-fill: #A5A5A5;
}

.button:hover {
    -fx-background-color: #252525;
    -fx-text-fill: #fcfafc;
}

/*
.toggle-button {
    -fx-background-color: #202020;
    -fx-text-fill: #A5A5A5;
}
*/

#buttonRecord {
    -fx-background-color: #202020;
    -fx-text-fill: #A5A5A5;
}
#buttonRecord:selected:focused {
    -fx-background-color: #880000;
    -fx-text-fill: #A5A5A5;
}

#toggleButtonRun {
    -fx-background-color: #202020;
    -fx-text-fill: #A5A5A5;
}
#toggleButtonRun:selected:focused {
    -fx-background-color: #880000;
    -fx-text-fill: #A5A5A5;
}


